.row
	.columns.twelve
		%p#notice= notice
		%p
			%strong Name:
			= @status.user.first_name
		%p
			%strong Content:
			= @status.content
		= link_to 'Edit', edit_status_path(@status)
		%span.divide /
		\#{link_to 'Back', statuses_path}
